/target
ws-load-test/results*
ws-load-test/venv
*/results.zip
.vscode/settings.json

# We will not be tracking any AI tool related metadata
/.claude/settings.local.json
/.gemini
/.qwen
/.opencode
/.serena
/.kiro
